@font-face {
    font-family: 'Exo2';
    src: url('fonts/Exo2-Italic-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;

    font-family: 'Woodland';
    src: url('fonts/PP\ Woodland\ Ultralight\ 200.otf');

    font-family: 'Chloe';
    src: url('fonts/Chloe/Chloe-Regular.otf');
    font-weight: 700;

}

.header-style{
    position: relative;
    background-color: #fffdef;
    width: 100%;
    height: 100px;
    margin: 0px 0px 0px 0px;
    opacity: 100%;
    box-shadow: white 10px 10px 10px 10px;
    box-shadow: black 0px 0px 4px 0px;
    z-index: 4;
}

.header-style h1{
    position: absolute;
    margin-top: 25px;
    left: 140px;
    font-family: 'Chloe';
    color: #D6940F;
    letter-spacing: 4px;
    font-size: 50px;
}

.header-style .menu-bar{
    position: absolute;
    top: 20px;
    right: 0;
}

.header-style ul li{
    float: left;
    margin-left: 15px;
    margin-right: 20px;
    font-family: 'Chloe';
    font-style: normal;

}.header-style a{
    transition-duration: 200ms;
    color: black;
    text-decoration: none;
}

.header-style a:hover{
    color: red;
    transition-duration: 200ms;
}

.header-style li{
    color: burlywood;
}

.line{
    position: absolute;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    top: 5px;
    width: 2px;
    height: 90px;
    background-color: rgb(181, 184, 42);
}

.background-style1{
    position: absolute;
    margin-top: 0px;
    max-width: 100%;
    min-width: auto;
    z-index: -1;
}

body{
    margin: 0px 0px 0px 0px;
}

.logo-style{
    position: absolute;
    width: 100px;
    padding-left: 10px;
    padding-top: 10px;
    z-index: 1;
}

.title-style{
    background-color: black;
    height: 300px;
    width: 100%;
    position: relative;
    font-family: Exo2;
    opacity: 100%;
    background-image: url(img/Technician2.jpg);
    background-size: 1600px 1000px;
    background-repeat: no-repeat;
}

.title-style h1{
    margin-top: 100px;
    
}

.aboutbtn{
    background-color: rgb(179, 12, 12);
    border-style: none;
    color: white;
    opacity: 100%;
    width: 100px;
    height: 40px;
}

.contactbtn{
    background-color: rgb(63, 63, 63);
    border-style: none;
    color: white;
    opacity: 100%;
    width: 100px;
    height: 40px;
}

.title-style h1{
    margin: 4px 10px 10px 10px;
    padding-top: 150px;
    color: white;
    text-align: center;
}

.title-style div{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.black-pane{
    width: 100%;
    height: 100%;
}

.home-content{
    position: relative;
    background-color:#fef8bf;
    width: 100%;
    height: 500px;
}

.home-content h1{
    padding-top: 50px;
    margin-top: 0px;
    margin-left: 50%;
    transform: translateX(-7.5%);
    color: black;
    font-family: 'Chloe';
}

.home-content p{
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Woodland';
    letter-spacing: 2px;
    line-height: 30px;
    font-size: 15px;
}

.container img{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.container{
    position: relative;
    /* margin-top: 50px;
    margin-bottom: 50px; */
    /* margin-left: 50%;
    transform: translateX(-50%); */
    position: 0px 0px 0px 0px;
    min-width: 500px;
    min-height: 300px;
    aspect-ratio: 2.5/1;
    max-width: 1519px;
    max-height: 1100px;
}

.container button{
    position: absolute;
    border-style: none;
    background-color: rgb(159, 240, 195);
    top: 50%;
    width: 40px;
    height: 40px;
    opacity: 60%;
}

.container .leftButton{
    left: 0px
}


.container .rightButton{
    right: 0px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.slide-context{
    position: absolute;
    padding: 5px 5px 5px 5px;
    margin: 0 0 0 0;
    z-index: 2;
    bottom: 0%;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    text-align: center;
}

footer{
    background-color: rgb(63, 63, 63);
    height: 100px;
    width: 100%;
}

footer p{
    position: absolute;
    margin-top: 0px;
    font-family: "Chloe";
    color: rgb(223, 223, 223);
    letter-spacing: 2px;
}
footer ul{
    position: absolute;
    right: 0px;
    margin-bottom: 10px;
    padding-right: 25px;
}

footer li{
    float: left;
    list-style-type: none;
    padding-left: 10px;
}

footer img{
    height: 25px;
    width: 25px;
}