@font-face {
    font-family: 'Exo2';
    src: url('fonts/Exo2-Italic-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

.header-style{
    position: absolute;
    background-color: rgb(236, 245, 158);
    width: 100%;
    height: 100px;
    margin: 0px 0px 0px 0px;
    opacity: 100%;
}

.line{
    position: absolute;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    right: 150px;
    top: 5px;
    width: 2px;
    height: 90px;
    background-color: rgb(181, 184, 42);
}

.dropbtn{
    width: 150px;
    height: 100px;
    border-style: none;
    color: rgb(134, 98, 45);
    background-color: rgb(236, 245, 158);
}

.dropbtn:hover{
    background-color: rgb(215, 226, 116);
}

.dropdown:hover .dropdown-content {
    display: block;
  }

.dropdown{
    position: absolute;
    right: 0px;
    margin-top: 0px
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    max-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: rgb(204, 204, 204);
}

.background-style1{
    position: absolute;
    margin-top: 0px;
    max-width: 100%;
    min-width: auto;
    z-index: -1;
}

body{
    margin: 0px 0px 0px 0px;
}

.logo-style{
    position: absolute;
    width: 100px;
    padding-left: 10px;
    padding-top: 10px;
    z-index: 1;
}

.title-style{
    background-color: black;
    height: 50px;
    width: 100%;
    position: absolute;
    font-family: Exo2;
    top: 100px;
    opacity: 80%;
}

.title-style h1{
    margin: 4px 10px 10px 10px;
    color: white;
    text-align: center;
}