.header{
    position: absolute;
    background-color: #141414;
    height: 70px;
    width: 100%;
    padding-top: 0px;
    box-shadow: black 0px 0px 10px 1px;
    z-index: 1;
}

.demo-pic{
    top: 10px;
    width: 100%;
    position: static;
    z-index: -1;
}

header {
    background-color: pink;
}

header h1 {
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.lang-group
{
    position: absolute;
    margin: 0px 0px 0px 0px;
    right: 20px;
    width: 90px;
    background-color: wheat;
}

.icon-img{
    position: absolute;
    right: 0px;
    top: 10px;
    width: 25px;
    height: 20px;
}

.flag-text{
    margin-top: 11px;
    margin-left: 0px;
    top: 0px;
    position: absolute;
    font-style: oblique;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
} 


.header-text{
    position: absolute;
    margin: 0px 0px 0px 10px;
    width: 0px;
    top: 15px;
    font-size: 28pt;
    font-family: Forte;
    color: white;
}

body{
    /* height: 200px; */
    z-index: -2;
}

.floater{
    position: absolute;
    top: 160px;
    width: 100%;
}

.floater .collapsible{
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    width: 580px;
    height: 30px;
    border-style: none;
    border-radius: 4px 4px 0px 0px;
    background-color: #31ad5a;
    opacity: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
    z-index: 0;
    box-shadow: black 2px 2px 5px 0px;
}
.floater p{
    left: 50%;
    padding: 5px 5px 5px 5px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    box-shadow: black 2px 2px 5px 0px;
    height: 130px;
    width: 570px;
    margin-top: 55px;
    position: relative;
    /* top: 0px; */
    z-index: 0;
    text-align: justify;
}

.dropdown {
    position: absolute;
    display: inline-block;
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    top: 35px;
    right: 0px;
    background-color: #575757;
    min-width: 110px;
    min-height: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1px 10px 1px 10px;
    z-index: 1;
}

.dropdown-content .icon-img{
    right: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}