@font-face {
    font-family: 'Exo2';
    src: url('fonts/Exo2-Italic-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;

    font-family: 'Chloe';
    src: url('fonts/Chloe/Chloe-Regular.otf');
    font-weight: 700;

}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
      display: none;
      position: absolute;
      background-color: #fffdef;
      width: 100px;
      height: 80px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 20;
      color: black;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.header-style{
    position: relative;
    background-color: #fffdef;
    width: 100%;
    height: 100px;
    margin: 0px 0px 0px 0px;
    opacity: 100%;
    box-shadow: white 10px 10px 10px 10px;
    box-shadow: black 0px 0px 4px 0px;
    z-index: 4;
}

.header-style h1{
    position: absolute;
    margin-top: 25px;
    left: 140px;
    font-family: 'Chloe';
    color: #D6940F;
    letter-spacing: 4px;
    font-size: 50px;

}

.header-style .menu-bar{
    position: absolute;
    top: 20px;
    right: 0;
}

.header-style ul li{
    float: left;
    margin-left: 15px;
    margin-right: 20px;
    font-family: 'Chloe';
    font-style: normal;

}.header-style a{
    transition-duration: 200ms;
    color: black;
    text-decoration: none;
}

.header-style a:hover{
    color: red;
    transition-duration: 200ms;
}

.header-style li{
    color: burlywood;
}

.line{
    position: absolute;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    top: 5px;
    width: 2px;
    height: 90px;
    background-color: rgb(181, 184, 42);
}

.background-style1{
    position: absolute;
    margin-top: 0px;
    max-width: 100%;
    min-width: auto;
    z-index: -1;
}

body{
    margin: 0px 0px 0px 0px;
}

.logo-style{
    position: absolute;
    width: 100px;
    padding-left: 10px;
    padding-top: 10px;
    z-index: 1;
}

.title-style{
    background-color: black;
    height: 500px;
    width: 100%;
    position: relative;
    font-family: Exo2;
    opacity: 100%;
    background-image: url(img/Technician2.jpg);
    background-size: 1600px 1000px;
    background-repeat: no-repeat;
}

.title-style h1{
    margin-top: 100px;
    
}

.aboutbtn{
    text-decoration: none;
    background-color: rgb(179, 12, 12);
    border-style: none;
    color: white;
    opacity: 100%;
    width: 100px;
    height: 40px;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
}

.contactbtn{
    text-decoration: none;
    background-color: rgb(63, 63, 63);
    border-style: none;
    color: white;
    opacity: 100%;
    width: 100px;
    height: 40px;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
}

.aboutbtn:hover{
    text-decoration: none;
    background-color: rgb(126, 6, 6);
    transition-duration: 200ms;
}

.contactbtn:hover{
    text-decoration: none;
    background-color: rgb(116, 116, 116);
    transition-duration: 200ms;
}

.title-style h1{
    margin: 4px 10px 10px 10px;
    padding-top: 150px;
    color: white;
    text-align: center;
}

.title-style div{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.black-pane{
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.6) ;
}

.home-content{
    position: relative;
    background-color:#fef8bf;
    top: 0px;
    height: 400px;
    width: 100%;
    box-shadow: 0px -1px 40px 0px;
}

footer{
    background-color: rgb(63, 63, 63);
    height: 100px;
    width: 100%;
    z-index: 3;
}

footer p{
    position: absolute;
    margin-top: 0px;
    font-family: "Chloe";
    color: rgb(223, 223, 223);
    letter-spacing: 2px;
}
footer ul{
    position: absolute;
    right: 0px;
    margin-bottom: 10px;
    padding-right: 25px;
}

footer li{
    float: left;
    list-style-type: none;
    padding-left: 10px;
}

footer img{
    height: 25px;
    width: 25px;
}